@import "./variables";
@import "./header";
@import "./section";
@import "./card";

body {
    width: 100%;
    background: #f8f8f8;

    &,
    * {
        font-family: 'Noto Sans KR', serif;
        font-weight: 300;
    }

    .signature {
        position: fixed;
        left: $space;
        bottom: $space;
        width: 800px;

        img {
            display: block;
            width: 100%;
        }
    }
}

.copyright {
    position: fixed;
    bottom: 20px;
    right: 30px;
    font-size: 12px;
    font-weight: 100;
    letter-spacing: 1px;
    color: #999;
    text-align: center;
}