@charset "utf-8";
@import "reset";
@import "font";
@import "_partials/layout";

section {
    .slideWrap {
        position: relative;
        display: block;
        box-sizing: border-box;
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
        -webkit-touch-callout: none;
        -khtml-user-select: none;
        -ms-touch-action: pan-y;
        touch-action: pan-y;
        -webkit-tap-highlight-color: transparent;

        .slideItem {
            @include alignLeft();
            display: inline-block;
        }

        .slick- {
            &list {
                overflow: hidden;
            }

            &arrow {
                position: absolute;
                top: 50%;
                text-indent: -9999px;
                background: transparent;
                border: none;
                cursor: pointer;
                z-index: 9999;

                &::after {
                    content: "";
                    position: absolute;
                }

                &::after {
                    left: calc(100% + 2px);
                    height: 30px;
                    width: 30px;
                    top: -13px;
                    border-left: 1px solid #222;
                    border-bottom: 1px solid #222;
                    transform: rotate(45deg);
                }

            }

            &prev {
                left: -50px;
            }

            &next {
                right: 0;
                transform: rotate(180deg);
            }
        }
    }

    .imageWrap {
        @include card();
        width: 240px;
    }

    .info {
        width: 370px;
        margin-left: 40px;
        padding-bottom: 30px;
        font-size: 12px;

        .title {
            margin-bottom: 30px;

            &_client {
                font-size: 20px;
            }

            &_name {
                font-size: 50px;
                line-height: 50px;
                font-weight: 500;
            }
        }

        .workData {
            strong {
                font-weight: 500;
            }

            li:not(:last-child) {
                margin-bottom: 5px;
            }
        }

        .detail {
            margin: 20px 0;
            padding: 10px 0;
            border-top: 1px solid #999;
            border-bottom: 1px solid #999;
            line-height: 25px;
        }

        .tag {
            li {
                display: inline-block;
                padding: 3px 10px;
                border: 1px solid #999;
                border-radius: 20px;

                &:not(:last-child) {
                    margin-right: 10px;
                    margin-bottom: 5px;
                }
            }
        }
    }
}